<div class="content_wrapper">



    <div class="breadcrumb_wrap" data-stellar-background-ratio="0.3"
        style="background: url(images/slider_inclass.jpg); background-attachment: fixed; background-position: 50% 50%;">
        <div class="breadcrumb_wrap_inner">
            <div class="container">
                <h1>Completed Course</h1>

            </div>
        </div>
    </div>
    <div style="width:100%;background-color:#DCDCDC;padding:70px;margin:0px; background-size: cover;">
        <h2 style="font-weight:600;margin:15px;font-size:35px">Your certificate will share with you  soon via your registered email.</h2>
    </div>
</div>
