<div class="content_wrapper">
    <div class="breadcrumb_wrap" data-stellar-background-ratio="0.3"
        style="background: url(images/slider_inclass.jpg); background-attachment: fixed; background-position: 50% 50%;">
        <div class="breadcrumb_wrap_inner">
            <div class="container">
                <h1>Change Password</h1>
                <ul class="breadcrumbs">
                    <li><a routerLink="/homepage">Home</a> /</li>
                    <li>Change Password</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="container"style="width:50%;margin-top:50px; margin-bottom:50px;background-color:#DCDCDC">
        <h2 style="font-weight:500;margin:15px;font-size:35px">Change Password</h2>
    
        <div class="login-form-grids animated wow slideInUp" >
            <form name="passform">
                <input type="password"name="currpass" [(ngModel)]="currpass" placeholder="Current Password" required=" ">
                <input type="password" name="newpass" [(ngModel)]="newpass" placeholder="New Password" required=" ">
                <input type="password" name="cnewpass" [(ngModel)]="cnewpass" placeholder="Confirm New Password"
                    required=" ">
                <input type="submit" name="b1" (click)="onpasschange()" value="Change Password">
            </form><br>
            {{msg}}
        </div>
    
    </div>
    </div>

    
