<header>
    <nav>
        <div class="container" style="max-width:1400px">
            <div id="navbar" class="navbar navbar-default">
                <div class="navbar-header col-md-2 col-sm-4 col-xs-4">
                    <div style="padding: 4px;font-weight: 700;font-size: 35px;font-family: Arial, Helvetica, sans-serif;display: inline;margin-left: 20px;position: relative;top: -12px;"><span style="color:rgb(85, 82, 82);">B</span><span style="color:rgb(85, 82, 82);">oo</span><span style="color:rgb(85, 82, 82);">S</span><span style="color:rgb(85, 82, 82)">T.</span><span style="color:#19B3D3">M</span><span style="color:#19B3D3">e</span>

                    </div>
                </div>
                <div class="col-md-9 col-sm-7 col-xs-7 pull-xs-right" style="width:80%">

                    <div id="dl-menu" class="dl-menuwrapper">

                        <ul class="dl-menu">

                            <li>
                                <a routerLink="/homepage">Home  </a>
                            </li>
                            <li>
                                <a routerLink="/onlinecourses">Courses</a>
                                <ul class="dl-submenu">

                                    <li><a routerLink="/paid">Paid Courses</a></li>
                                    <li><a routerLink="/free">Free Courses</a>
                                        
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a routerLink="/studymaterial">Study Material</a>
                                
                            </li>
                            <li><a class="trigger" routerLink="/tutors">Find A Tutor</a></li>
                            <li><a class="trigger" routerLink="/contact">Contact us</a></li>
                            <li><a class="trigger" routerLink="/feedback">Feedback</a></li>
                            <li><a class="trigger" routerLink="/login"><button>Sign In/Sign Up</button></a></li>
                        </ul>
                    </div>

                    <div class="main_menu_wrap">
                        <ul class="main_menu">
                            <li><a class="trigger" routerLink="/homepage">Home</a>
                            </li>
                            <li><a class="trigger" routerLink="/onlinecourses">Courses <i class="fa fa-angle-down"></i></a>
                                <ul class="submenu">
                                    <li><a routerLink="/paid">Paid Courses</a></li>
                                    <li><a routerLink="/free">Free Courses </a>
                                        
                                    </li>
                                </ul>
                            </li>
                        <li>
                            <a routerLink="/studymaterial">Study Material</a>
                        
                        </li>
                            
                            <li><a class="trigger">Find A Tutor<i class="fa fa-angle-down"></i></a>
                                <ul class="submenu">
                                    <li><a routerLink="/becometutor">Become a Tutor</a></li>
                                    <li><a routerLink="/tutors">List of Tutors<i class="fa fa-angle-right"></i> </a>
                                        <ul class="sub_menu">
                                            <li><a routerLink="/tutors">Elementary Tutors</a></li>
                                            <li><a routerLink="/tutors1">Middle and High School Tutors </a>
                                               </li> 
                                            <li><a routerLink="/tutors2">University/College Tutors </a>
                                        
                                            </li>
                                        </ul>
                                    </li>
                                </ul></li>
                            <li><a class="trigger" >Contact<i class="fa fa-angle-down"></i></a>
                                <ul class="submenu">
                                    <li><a routerLink="/contact">Contact Us</a></li>
                                    <li><a routerLink="/feedback">Feedback</a>
                                    </li></ul>
                            </li>
                            
                            <li><a class="trigger">Why choose us?<i class="fa fa-angle-down"></i></a>
                            <ul class="submenu">
                                <li><a routerLink="/tutorbenefits">Tutor's Benefits</a></li>
                                <li><a routerLink="/studentbenefits">Student's Benefits</a>
                                </li>
                                <li><a routerLink="/boostmantra">BooST.Me Mantra</a>
                            
                                </li>
                            </ul>
                            </li>
                            <li><a class="trigger" routerLink="/login"><button style="background-color: #19B3D3;padding:10px;font-size:15px; position:relative;top:-10px;float:right">Sign In/Sign Up</button></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </nav>
</header>