<div class="content_wrapper">



    <div class="breadcrumb_wrap" data-stellar-background-ratio="0.3"
        style="background: url(images/slider_inclass.jpg); background-attachment: fixed; background-position: 50% 50%;">
        <div class="breadcrumb_wrap_inner">
            <div class="container">
               
                <div class="my-5 undefined container">
                    <section class="guruq-benefits ">
                        <h1>Student Benefits</h1><br/>
                        <div class="benefit-blocks row">
                            <div class=" benefit-block col-md-6"style="width:50%">
                                <div class="block-heading "><h3>1 &nbsp;Find the Right Tutor</h3><br/>
                                </div>
                                <div class="block-content ">
                                    <ul>
                                        <li><span><img alt="reach-icon"
                                                    src="https://images.guruq.in/images/media/283fa6352e800eee8b88eecd9b01563771891791.png"height="20px" width="20px"></span>
                                            &nbsp;&nbsp;Compare tutors on various parameters
                                        </li><br/><br/>
                                        <li><span><img alt="reach-certified"
                                                    src="https://images.guruq.in/images/media/ac0ad9198860535f941ba982cf41563771929395.png" height="20px" width="20px"></span>
                                            &nbsp;&nbsp;Check tutor qualification and choose wisely
                                        </li><br /><br />
                                        <li><span><img alt="reach-rating"
                                                    src="https://images.guruq.in/images/media/994135f29ff121be6f20b2623141563771975041.png" height="20px" width="20px"></span>
                                        &nbsp;&nbsp;Check student and parent reviews
                                        </li><br /><br />
                                        <li><span><img alt="reach-platform"
                                                    src="https://images.guruq.in/images/media/148c39d5056edd2a113574862651563772005410.png"height="20px" width="20px"
                                                    style="width: 15px; height: 23px;"></span>
                                            &nbsp;&nbsp;Choose tutors who exactly match your needs
                                        </li><br /><br />
                                    </ul>
                                </div>
                            </div><br /><br />
                            
                            <div class=" benefit-block col-md-6" style="width:50%">
                                <div class="block-heading">
                                    <h3>2 &nbsp;Anytime, Anywhere Classes</h3><br/>
                                </div>
                                <div class="block-content">
                                    <ul>
                                        <li><span><img alt="manage-control"
                                                    src="https://images.guruq.in/images/media/783e6c74846d3835f7dde5c34481563772155890.png" height="20px" width="20px"></span>
                                            &nbsp;&nbsp;Take online classes anytime
                                        </li><br /><br />
                                        <li><span><img alt="control-conven"
                                                    src="https://images.guruq.in/images/media/7183997612606e41c39cd4207361563772177977.png" height="20px" width="20px"></span>
                                            &nbsp;&nbsp;Take online classes anywhere
                                        </li><br /><br />
                                        <li><span><img alt="control-conduct"
                                                    src="https://images.guruq.in/images/media/b4e2fb2241469d60dbc830411941563772199511.png" height="20px" width="20px"></span>
                                            &nbsp;&nbsp;Classes at home or tutor’s place
                                        </li><br /><br />
                                        <li><span><img alt="control-conduct"
                                                    src="https://images.guruq.in/images/media/686125e07c1fa4239225c97aa7b1563772220561.png" height="20px" width="20px"></span>
                                            &nbsp;&nbsp;Complete convenience and save precious time
                                        </li><br /><br />
                                    </ul>
                                </div>
                            </div><br /><br />
                            <div class=" benefit-block col-md-6" style="width:50%">
                                <div class="block-heading">
                                    <h3>3 &nbsp;Personalise Your Learning</h3><br/>
                                </div>
                                <div class="block-content">
                                    <ul>
                                        <li><span><img alt="industry-participate"
                                                    src="https://images.guruq.in/images/media/ba41c55d033ecd6d0851962ffde1563772248432.png" height="20px" width="20px"></span>
                                            &nbsp;&nbsp;Tuitions within your budgets
                                        </li><br /><br />
                                        <li><span><img alt="industry-csr"
                                                    src="https://images.guruq.in/images/media/d1444b7b32a090672117d16844e1563772269201.png"height="20px" width="20px"></span>
                                            &nbsp;&nbsp;Total customisation - type, mode, time &amp; place
                                        </li><br /><br />
                                        <li><span><img alt="industry-csr"
                                                    src="https://images.guruq.in/images/media/d28872abb37d273cca4e5fbfe091563772294186.png" height="20px" width="20px"></span>
                                            &nbsp;&nbsp;Friendly dashboard - complete control
                                        </li><br /><br />
                                        <li><span><img alt="industry-csr"
                                                    src="https://images.guruq.in/images/media/cec9b3e5584e4541fd852a362411563772316757.png" height="20px" width="20px"></span>
                                            &nbsp;&nbsp;Learn at your own pace with no pressure
                                        </li><br /><br />
                                    </ul>
                                </div>
                            </div><br /><br />
                            <div class=" benefit-block col-md-6" style="width:50%">
                                <div class="block-heading">
                                    <h3>4 &nbsp;On-Demand Tuitions</h3><br/>
                                </div>
                                <div class="block-content">
                                    <ul>
                                        <li><span><img alt="industry-participate"
                                                    src="https://images.guruq.in/images/media/925b5c023aabab50d1d873683c21563772338930.png" height="20px" width="20px"></span>
                                            &nbsp;&nbsp;All boards, classes and subjects
                                        </li><br /><br />
                                        <li><span><img alt="industry-csr"
                                                    src="https://images.guruq.in/images/media/a1c0c3c0f910b914000258972cc1563772357100.png" height="20px" width="20px"></span>
                                            &nbsp;&nbsp;Take instant classes
                                        </li><br /><br />
                                        <li><span><img alt="industry-csr"
                                                    src="https://images.guruq.in/images/media/33f1fe9d05c678977bec11edbca1563772377609.png" height="20px" width="20px"></span>
                                            &nbsp;&nbsp;Book classes by the hour
                                        </li><br /><br />
                                        <li><span><img alt="industry-csr"
                                                    src="https://images.guruq.in/images/media/bccf8ca9135461f2a58fc5303e81563772399021.png" height="20px" width="20px"></span>
                                            &nbsp;&nbsp;All areas beyond school education coming soon
                                        </li><br /><br />
                                    </ul>
                                </div>
                            </div><br /><br />
                            <div class=" benefit-block col-md-6" style="width:50%">
                                <div class="block-heading">
                                    <h3>5 &nbsp;Track Progress Easily</h3><br/>
                                </div>
                                <div class="block-content">
                                    <ul>
                                        <li><span><img alt="industry-participate"
                                                    src="https://images.guruq.in/images/media/b8fd3844ad1f93d81f36f0e8e9a1563772471971.png" height="20px" width="20px"></span>
                                            &nbsp;&nbsp;Online assessment - tests, assignments &amp; exams
                                        </li><br /><br />
                                        <li><span><img alt="industry-csr"
                                                    src="https://images.guruq.in/images/media/82ed00ad9693204f3ede0ef6e0a1563772510964.png" height="20px" width="20px"></span>
                                            &nbsp;&nbsp;Online evaluation with e-Report Cards
                                        </li><br /><br />
                                        <li><span><img alt="industry-csr"
                                                    src="https://images.guruq.in/images/media/190e9495ee7ee60044400d070cf1563772531924.png" height="20px" width="20px"></span>
                                            &nbsp;&nbsp;Regular tutor feedback and advice
                                        </li><br /><br />
                                        <li><span><img alt="industry-csr"
                                                    src="https://images.guruq.in/images/media/fd1a5a427a1ee9c233fdffb5dba1563772560220.png" height="20px" width="20px"></span>
                                            &nbsp;&nbsp;Parents can track progress online
                                        </li><br /><br />
                                    </ul>
                                </div>
                            </div><br/><br/>
                            <div class=" benefit-block col-md-6" style="width:50%;">
                                <div class="block-heading">
                                    <h3>6 &nbsp;Myriad BooST.Me Benefits</h3><br/>
                                </div>
                                <div class="block-content">
                                    <ul>
                                        <li><span><img alt="industry-participate"
                                                    src="https://images.guruq.in/images/media/11aa6b5d0d2a36287c78b1906b81563772590060.png" height="20px" width="20px"></span>
                                            &nbsp;&nbsp;Get attractive discounts for bulk sessions
                                            </li><br/><br/>
                                        <li><span><img alt="industry-csr"
                                                    src="https://images.guruq.in/images/media/452c496b3e03355391d531b9d621563772610973.png" height="20px" width="20px"></span>
                                            &nbsp;&nbsp;Refer friends and earn extra Q-Points
                                        </li><br /><br />
                                        <li><span><img alt="industry-csr"
                                                    src="https://images.guruq.in/images/media/4355af3c09f3707879335f181801563772628635.png" height="20px" width="20px"></span>
                                        &nbsp;&nbsp;FREE skill enhancement workshops
                                        </li><br /><br />
                                        <li><span><img alt="industry-csr"
                                                    src="https://images.guruq.in/images/media/1f0c5243f99760f9362301c59181563772646363.png" height="20px" width="20px"></span>
                                            &nbsp;&nbsp;Innovative contests/activites with attractive prizes
                                        </li><br/><br/>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

