<div class="content_wrapper">



    <div class="breadcrumb_wrap" data-stellar-background-ratio="0.3"
        style="background: url(images/slider_inclass.jpg); background-attachment: fixed; background-position: 50% 50%;">
        <div class="breadcrumb_wrap_inner">
            <div class="container">
                <h1>Online Courses</h1>
                <ul class="breadcrumbs">
                    <li><a routerLink="/homepage">Home</a> /</li>
                    <li>Online Courses</li>

                </ul>
            </div>
        </div>
    </div>

<div style="border:2px solid black;width:90%;margin:4% auto;background-color:darkorange">
<img src="images/ourcourses.png">
<p style="position:relative;top:10%;width:70%;float:right;margin:4%;line-height:40px;font-size:25px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">BooST.Me platform provides variety of online learning courses.Online courses bring education right to your home and teach you to be self-disciplined.</p>
</div> 
<h3 style="text-align:center">You can either enroll either for paid course or free course.</h3>   </div>
<div style="background-color:lightblue">
    <div style="width:100%;margin:4% auto;"><img src="images/freecourse.jpeg" width="40%" height="20%" style="margin:4%"><p
        style="position:relative;top:15%;width:40%;float:right;margin:4%;line-height:40px;font-size:25px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
        BooST.Me platform provides access to free courses.Any type of learning is great so free courses may fill a need in your personal and professional development. So what are you waiting for ? Go and click the below button to grasp this opportunity.<br/><br/>
        <button  style="position:relative;bottom:-10%"><a routerLink="/free"  style="color:white">Free Courses</a></button></p>
    </div>
    <div style="width:100%;margin:4% auto;">
        <p
            style="position:relative;top:15%;width:40%;float:left;margin:4%;line-height:40px;font-size:25px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
             BooST.Me platform also provides access to free courses.There are some benefits to a paid qualification you don't find with most free courses.Paid Courses not only enhance your skills but also provide e-certificate that added to your cirriculum vitae.If you are ready  to add on your skills , hit the below button.<br/><br/>
            
            <button style="position:relative;bottom:-10%"><a routerLink="/paid" style="color:white">Paid Courses</a></button></p>
            <img src="images/paid-courses-banner.png" width="40%" height="500px">
    </div>
</div>



