<div class="content_wrapper">

    <div class="breadcrumb_wrap" data-stellar-background-ratio="0.3"
        style="background: url(images/slider_group_in_campus.jpg); background-attachment: fixed; background-position: 50% 50%;">
        <div class="breadcrumb_wrap_inner">
            <div class="container">
                <h1>Course Category</h1>
                <ul class="breadcrumbs">
                    <li><a href="index.html">Home</a> /</li>
                    <li>Course Category</li>
                </ul>
            </div>
        </div>
    </div>







    <div id="faculty_wrapper" class="faculty_wrapper">

        <div class="container" style="height:280px;">

            <div class="faculty_wrapp col-lg-9 col-md-8 col-sm-12 col-xs-12"
                style="width:50%; margin-left:27%;margin-top:3%">

                <div class="course_subscribe">
                    <form name="formsearch" enctype="multipart/form-data">
                        <div class="group">
                            <label for="pass" class="label"></label>
                            <input type="text" id="pass" name="coursecatname" [(ngModel)]="coursecatname"
                                placeholder="Course Category Name" required=" ">
                        </div>
                        <div class="group">
                            <input type="file" style="border:none" name="coursecatpic" (change)="fileselected($event)">

                        </div>
                        <div class="group ">
                            <input type="submit" class="button" value="Add"
                                style="background-color:skyblue;font-size:18px;font-weight:600;" (click)="oncoursecatadd()">
                        </div>
                    </form> {{msg}}

                </div>
                <div *ngIf="flag">
                    <h2>Already Added Categories</h2><br>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Category pic</th>
                                <th>Name</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let x of allcoursecat">
                                <td><img src="uploads/{{x.coursecategorypic}}" height="100"></td>
                                <td>{{x.coursecategoryname}}</td>
                                <td><button type="button" class="btn btn-info" routerLink="/updatecoursecat"
                                        [queryParams]="{cid:x._id}">Update</button></td>
                                <td><button type="button" class="btn btn-danger"
                                        (click)="oncoursecatdel(x._id)">Delete</button></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

