<div class="content_wrapper">



    <div class="breadcrumb_wrap" data-stellar-background-ratio="0.3"
        style="background: url(images/slider_inclass.jpg); background-attachment: fixed; background-position: 50% 50%;">
        <div class="breadcrumb_wrap_inner">
            <div class="container">
                <h1>Become a Tutor</h1>
                <ul class="breadcrumbs">
                    <li><a routerLink="/homepage">Home</a> /</li>
                    <li>Become a Tutor</li>
                   
                </ul>
            </div>
        </div>
    </div>


    <div id="dtl_wrap" class="dtl_wrap">

        <div class="container" style="max-width:1470px;">

            <div class="dtl_wrapper col-lg-9 col-md-8 col-sm-12 col-xs-12" style="width:100%;margin:0px 20px 0px 20px">

                <div class="dtl_inner_wrap">
<section class="hero-banner signup"
    style=" background-color:darkorange;height:250px;margin:4%;width:92%;padding:20px">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero-text">
                    <h1 class="f38 f-light">
                        <span class="font-weight-800 f65 mt-3">Get Ready to Be an Online Tutor </span>
                    </h1>
                    <p class="f18 font-weight-500 about-hero-p mt-4"> Begin your online teaching journey in subjects you
                        are passionate about. </p>
                    <div class="w-100 float-left"> <a routerLink="/login" title="Sign up for a Free trial"
                            class="btn btn-dark btn-start f16"> START YOUR JOURNEY NOW </a> </div>
                </div>
            </div>

            
        </div>
    </div>

</section>
<section class="enjoytutoring" style="margin:2%">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-4">
                <div class="enjoy-head">
                    <h2 class="f38">3 Benefits of tutoring with BooST.Me</h2><br /><br />
                    <p style="font-size:20px;text-align:center;font-weight:600"> Begin your online teaching journey in subjects you
                        are passionate about. </p>
                   
                </div>
            </div>
            <div class="col-md-12 mb-4">
                <div class="box4-white h-100">
                    <div class="row">
                        <div class="col-4">
                            <img src="images/job-posting.png" alt="ways to student success">
                            <p style="font-size:20px;text-align:center;font-weight:600">Great Pay</p>
                        </div>
                        <div class="col-4">
                            <img src="images/job-posting2.png" alt="ways to student success">
                            <p style="font-size:20px;text-align:center;font-weight:600">Flexible Hours </p>
                        </div>
                        <div class="col-4">
                            <img src="images/job-posting3.png" alt="ways to student success">
                            <p style="font-size:20px;text-align:center;font-weight:600">Flexible Location </p>
                        </div>
                    </div>
                    <p style="font-size:20px;padding:10px;font-weight:600">BooST.Me is an ideal online learning solution for
                        students around the world. Our <a routerLink="/tutors">online tutors</a> are
                        highly qualified subject matter experts who are available 24/7 to connect with students for
                        their  needs. Within minutes of signing into our
                        portal and raising a homework help request or online study request, we match the best available
                        tutors to help our students. Join our team today and help make a difference in the world.</p>
                </div>
            </div>
            
            
            
            
            
            
        </div>
    </div>
</section>
</div>
</div>
</div>
</div>
</div>
