<div class="content_wrapper">



    <div class="breadcrumb_wrap" data-stellar-background-ratio="0.3"
        style="background: url(images/slider_inclass.jpg); background-attachment: fixed; background-position: 50% 50%;">
        <div class="breadcrumb_wrap_inner">
            <div class="container">




                <div class=" ">
                    <div class="">
                        <h1>BooST.Me Mantra</h1><br/>
                    </div>
                    <div class="">
                        <div>
                            <div class=" ">
                                <div class="">
                                    <p style="font-size:18px">To provide a unique digital platform that aims to impart high quality education, by combining the
                                        best international business standards &amp; practices with new age technologies and
                                        methodologies, to bring together proficient tutors and enthusiastic students.</p>
                                </div>
                                <div class="mt-5">
                                    <div class="mantra-blocks row">
                                        <div class=" col-md-6" style=" width:70%;border:4px solid white;margin:5% auto;padding:2%">
                                            <div class="mantra-block"><span><img src="/images/learner.png" style="margin-left:45%"></span><br/><br/>
                                                <h5 style="text-align:center">Learner Centric</h5><br/>
                                                <p style="font-size:18px">The BooST.Me platform is centered around how students can make the most of their limited
                                                    time and resources. Students can use various search parameters to quickly and easily
                                                    find tutors to match their exact requirements. Students can get on-demand tutoring
                                                    anywhere, anytime.</p>
                                            </div>
                                        </div>
                                        <div class=" col-md-6" style="width:70%;border:4px solid white;margin:5% auto;padding:2%">
                                            <div class="mantra-block"><span><img src="/images/tutor.png"style="margin-left:45%"></span><br/><br/>
                                                <h5 style="text-align:center">Tutor Oriented</h5><br/>
                                                <p style="font-size:18px">At BooST.Me we realize the importance of good tutors and provide multiple attractive
                                                    benefits to attract the best tutors available in any location. To become a
                                                    BooST.Me-certfied tutor, each tutor has to undergo a  registration
                                                    process to ensure that our students learn from
                                                    the very best tutors available.</p>
                                            </div>
                                        </div>
                                        <div class=" col-md-6" style="width:70%;border:4px solid white;margin:5% auto;padding:2%">
                                            <div class="mantra-block"><span><img src="/images/tech.png" style="margin-left:45%"></span><br/><br/>
                                                <h5 style="text-align:center">Tech Powered</h5><br/>
                                                <p style="font-size:18px">We understand the significance of Technology, and have created an elaborate and
                                                    extremely user-friendly dashboard that provides easy and effective usage of our
                                                    platform. We have integrated diverse functionalities to provide an end-to-end
                                                    one-stop learning solution.</p>
                                            </div>
                                        </div>
                                        <div class=" col-md-6" style="width:70%;border:4px solid white;margin:5% auto;padding:2%">
                                            <div class="mantra-block"><span><img src="/images/quality.png" style="margin-left:45%"></span><br/><br/>
                                                <h5 style="text-align:center">Quality Driven</h5><br/>
                                                <p style="font-size:18px">In order to deliver true quality we help our students make informed decisions based
                                                    on unbiased reviews &amp; ratings of tutors by other students and parents.
                                                    Moreover, the BooST.Me team continually monitors and ensures that all tutors are
                                                    meeting the Quality Standards that we demand from our tutors. We also enable tutors
                                                    to keep parents informed about their child’s progress through online progress report
                                                    cards.</p>
                                            </div>
                                        </div>
                                        <div class=" col-md-6" style="width:70%;border:4px solid white;margin:5% auto;padding:2%">
                                            <div class="mantra-block"><span><img src="/images/conv.png" style="margin-left:45%"></span><br/><br/>
                                                <h5 style="text-align:center">Convenience Focused</h5><br/>
                                                <p style="font-size:18px">On BooST.Me, we have ensured that it is really easy to find the perfect tutor for the
                                                    unique requirements of every single student. Post a perfect match students can
                                                    personalize their learning experience by creating their own online sessions as per their convenience.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                