<div class="content_wrapper">

    <div class="breadcrumb_wrap" data-stellar-background-ratio="0.3"
        style="background: url(images/slider_group_in_campus.jpg); background-attachment: fixed; background-position: 50% 50%;">
        <div class="breadcrumb_wrap_inner">
            <div class="container">
                <h1>Study Material</h1>
                <ul class="breadcrumbs">
                    <li><a routerLink="/homepage">Home</a> /</li>
                    <li><a routerLink="/studymaterial">Study Material</a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    <div class="products">
        <div class="container">
            <div class="agileinfo_single">
    
                
                <div class="col-md-8 agileinfo_single_right" style="width:80%;margin:5% 10% 5% 10% ;border:2px solid black;text-align:center">
                    <h2>{{data[0].dataname}}</h2>
    
                    <div class="w3agile_description">
                        <h5><u>Description :</u></h5><br/>
                        <p style="font-size:20px;font-weight:600">{{data[0].description}}</p>
                    </div>
                    <div class="snipcart-item block">
                        
                        
                        <div class="snipcart-details agileinfo_single_right_details">
                           <button><a href="../../uploads/{{data[0].datapic}}" style="color:white;">View </a></button><br/>
                           <br/>
                        </div>
                    </div>
                </div>
                </div>
                </div>
                </div>
            
