<div class="content_wrapper">

    <div class="breadcrumb_wrap" data-stellar-background-ratio="0.3"
        style="background: url(images/slider_group_in_campus.jpg); background-attachment: fixed; background-position: 50% 50%;">
        <div class="breadcrumb_wrap_inner">
            <div class="container">
                <h1>Manage Data</h1>
                <ul class="breadcrumbs">
                    <li><a href="index.html">Home</a> /</li>
                    <li>Manage Data</li>
                </ul>
            </div>
        </div>
    </div>


    <div id="faculty_wrapper" class="faculty_wrapper">
    
        <div class="container" style="height:280px;">
    
            <div class="faculty_wrapp col-lg-9 col-md-8 col-sm-12 col-xs-12"
                style="width:80%; margin-left:12%;margin-top:3%">
    
                <div class="course_subscribe">
                    <form name="formsearch" enctype="multipart/form-data">
                        <div class="group" style="margin-bottom:20px">
    
    
                        <select name="category" [(ngModel)]="category" class="form-control" (change)="fetchsubcat()">
                            <option value="">Choose Category</option>
                            <option *ngFor="let x of allcat" value="{{x._id}}">{{x.categoryname}}</option>
                        </select></div>
                        <div class="group" style="margin-bottom:20px">
                        <select name="subcategory" [(ngModel)]="subcategory" class="form-control" (change)="fetchalldata()">
                            <option value="">Choose Sub Category</option>
                            <option *ngFor="let x of subcatdata" value="{{x._id}}">{{x.subcatname}}</option>
                        </select>
                        </div>
                        <div class="group"> <input type="text" name="dataname" [(ngModel)]="dataname" placeholder="Data Name" required=" "></div>
                        <div class="group"><textarea class="form-control" name="description" placeholder="Description" [(ngModel)]="description"></textarea></div>
                        <div class="group"><input type="file" name="datapic" (change)="fileselected($event)"></div>
                       
    
                        <div class="group " style="margin-bottom:15px">
                            <input type="submit" class="button" value="Add"
                                style="background-color:skyblue;font-size:18px;font-weight:600;" (click)="ondataadd()">
                        </div>
                    </form> {{msg}}
    
    
                </div>
                <div *ngIf="flag">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>File Type</th>
                                <th>Name</th>
                                <th>Description</th>
                                
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let x of alldata">
                                <td>{{x.datapic}}</td>
                                <td>{{x.dataname}}</td>
                                
                                <td>{{x.description}}</td>
                                <td><button type="button" class="btn btn-danger" (click)="ondatadel(x._id)">Delete</button></td>
                
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
                </div>
                </div>
                </div>
                