<div class="content_wrapper">
 <div class="breadcrumb_wrap" data-stellar-background-ratio="0.3"
        style="background: url(images/latest_news3.jpg); background-attachment: fixed; background-position: 50% 50%;">
        <div class="breadcrumb_wrap_inner">
            <div class="container">

                <div class="my-5 undefined container">
                    <section class="guruq-benefits ">
                        <h1>Tutor Benefits</h1><br/>
                        <div class="benefit-blocks row">
                            <div class=" benefit-block col-md-6" style="width:50%">
                                <div class="block-heading"><h3>1 &nbsp;Reach &amp; Recognition</h3><br/>
                                <div class="block-content">
                                    <ul>
                                        <li><span><img alt="reach-icon"
                                                    src="https://images.guruq.in/images/media/203a4b5a6dbb9dcd825bcbcf5511563336930945.png" height="20px" width="20px"></span>
                                            &nbsp;&nbsp;Become part of India’s best tutor community
                                        </li><br/><br/>
                                        <li><span><img alt="reach-certified"
                                                    src="https://images.guruq.in/images/media/b4b7521dcdbd5d4df56821a1d821563336957404.png" height="20px" width="20px"></span>
                                            &nbsp;&nbsp;Get enroll to BooST.Me to avail exclusive benefits
                                        </li><br/><br/>
                                        <li><span><img alt="reach-rating"
                                                    src="https://images.guruq.in/images/media/e0c02b67725622f28f2b9b266171563336988569.png" height="20px" width="20px"></span>
                                            &nbsp;&nbsp;Get student &amp; parent reviews &amp; ratings to become popular
                                        </li><br/><br/>
                                        <li><span><img alt="reach-platform"
                                                    src="https://images.guruq.in/images/media/b85435af9a7f1dd4aa43a48f1691563337008421.png" height="20px" width="20px"></span>
                                            &nbsp;&nbsp;Use BooST.Me platform, blog &amp; newsletter to gain recognition
                                        </li><br/><br/>
                                    </ul>
                                </div>
                            </div></div><br/><br/>
                            <div class=" benefit-block col-md-6">
                                <div class="block-heading"><h3>2 &nbsp;Expansion &amp; Earnings</h3><br/>
                                <div class="block-content">
                                    <ul>
                                        <li><span><img alt="assured-earning"
                                                    src="https://images.guruq.in/images/media/036eb13ce4cc19691cf348636251563337037177.png" height="20px" width="20px"></span>
                                            &nbsp;&nbsp;Assured and timely payments without follow-ups
                                        </li><br/><br/>
                                        <li><span><img alt="earning-expens"
                                                    src="https://images.guruq.in/images/media/3353e27e07b12591b4ff15ae27f1563337053010.png" height="20px" width="20px"></span>
                                            &nbsp;&nbsp;Reach more, teach more and earn more
                                        </li><br/><br/>
                                        <li><span><img alt="earning-graph"
                                                    src="https://images.guruq.in/images/media/f7ecb2a45bf08bb564aed2a33221563337076799.png" height="20px" width="20px"></span>
                                            &nbsp;&nbsp;Increase the scope, scale and size of your tutoring business
                                        </li><br/><br/>
                                        <li><span><img alt="earning-online"
                                                    src="https://images.guruq.in/images/media/cf5aec57f5e0c44ba270bab366d1563337096558.png" height="20px" width="20px"></span>
                                            &nbsp;&nbsp;Teach pan India through online classes
                                        </li><br/><br/>
                                    </ul>
                                </div>
                            </div></div><br/><br/>
                            <div class=" benefit-block col-md-6" style="width:50%">
                                <div class="block-heading"><h3>3 &nbsp;Convenience &amp; Control</h3><br/>
                                <div class="block-content">
                                    <ul>
                                        <li><span><img alt="manage-control"
                                                    src="https://images.guruq.in/images/media/f65522706489eb501142ee92ed31563337115582.png" height="20px" width="20px"></span>
                                            &nbsp;&nbsp;Manage timetable easily on the versatile dashboard
                                        </li><br/><br/>
                                        <li><span><img alt="control-conven"
                                                    src="https://images.guruq.in/images/media/014689e6fc1c81fbeb76128fa461563337130936.png" height="20px" width="20px"></span>
                                            &nbsp;&nbsp;Schedule classes at your convenience
                                        </li><br/><br/>
                                        <li><span><img alt="control-conduct"
                                                    src="https://images.guruq.in/images/media/a5cf8bc9bfb858d9f8f36f377251563337146084.png" height="20px" width="20px"></span>
                                            &nbsp;&nbsp;Conduct assessment and report evaluation online
                                        </li><br/><br/>
                                    </ul>
                                </div>
                            </div></div><br/><br/>
                            <div class=" benefit-block col-md-6" style="width:50%">
                                <div class="block-heading"><h3>4 &nbsp;Influencer &amp; Industry Leader</h3><br/>
                                <div class="block-content">
                                    <ul>
                                        <li><span><img alt="industry-participate"
                                                    src="https://images.guruq.in/images/media/9459f03d430d3f30bedcab622891563337164562.png" height="20px" width="20px"></span>
                                            &nbsp;&nbsp;Become an Industry leader by participating in Seminars
                                        </li><br/><br/>
                                        <li><span><img alt="industry-csr"
                                                    src="https://images.guruq.in/images/media/ead3ba0a34ada35aed6e3414d171563337180670.png" height="20px" width="20px"></span>
                                            &nbsp;&nbsp;Give back to society by taking part in BooST.Me CSR initiatives
                                        </li><br/><br/>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
            </div></section>
                </div>
                </div>
                </div>
                </div>
                </div>
                
