<div class="content_wrapper">
    <div class="breadcrumb_wrap" data-stellar-background-ratio="0.3"
        style="background: url(images/slider_inclass.jpg); background-attachment: fixed; background-position: 50% 50%;">
        <div class="breadcrumb_wrap_inner">
            <div class="container">
                <h1>FeedBack</h1>
                <ul class="breadcrumbs">
                    <li><a routerLink="/homepage">Home</a> /</li>
                    <li>FeedBack</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="faculty_wrapper" class="faculty_wrapper">

        <div class="container" style="height:280px;">

            <div class="faculty_wrapp col-lg-9 col-md-8 col-sm-12 col-xs-12" style="width:100%;padding:0 50px 0 50px">


                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>

                            <th scope="col">Email Id</th>
                            <th scope="col">Ratings</th>
                            <th scope="col">Suggestion</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let x of allmembs">

                            <td>{{x.name}}</td>
                            <td>{{x.email}}</td>
                            <td>{{x.rate}}</td>
                            <td>{{x.suggestion}}</td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

